@charset "utf-8";

$paginator-radius: 4px;
$paginator-font-size: 0.85rem;
$paginator-disabled-bg: #dddddd;
$paginator-label-bg: #cccccc;
$paginator-label-color: #333333;
$paginator-button-bg: #333333;
$paginator-button-color: #ffffff;

.ssd-paginator {

  display: inline-block;
  text-align: center;
  margin: 0 auto;
  font-family: 'Helvetica Neue', sans-serif;

  .paginator-button,
  .paginator-label,
  select {

    float: left;
    border-radius: 0;

  }

  .paginator-button {

    background-color: $paginator-button-bg;
    color: $paginator-button-color !important;

  }

  .paginator-button,
  .paginator-label {

    padding: 0 1rem;
    line-height: 2.4rem;

  }

  .paginator-button {

    &.disabled {

      background-color: $paginator-disabled-bg;
      opacity: 1;

    }

  }

  .paginator-label {

    font-size: $paginator-font-size;
    background-color: $paginator-label-bg;
    color: $paginator-label-color !important;
    display: none;

  }

  select {

    width: 7rem;
    padding: 0 0.5rem;
    height: 2.35rem;
    font-size: $paginator-font-size;
    border: solid 1px $paginator-label-bg;
    outline: none;
    appearance: none;
    -webkit-border-radius: 0;
    -webkit-user-select: none;
    background-origin: content-box;

  }

  a, span {

    &:first-child {

      border-top-left-radius: $paginator-radius;
      border-bottom-left-radius: $paginator-radius;

    }

    &:last-child {

      border-top-right-radius: $paginator-radius;
      border-bottom-right-radius: $paginator-radius;

    }

  }

  @media screen and (min-width: 480px) {

    .paginator-label {

      display: inline-block;

    }

  }

}